@model IEnumerable<BIProject.Models.ConceptDetails>

<section class="p-5">

    <h2>Lista de Títulos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdTitulo</th>
                <th>Título</th>
                <th>Subtítulo</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var concept in Model)
            {
                <tr>
                    <td>@concept.Id</td>
                    <td>@concept.IdTitulo</td>
                    <td>@concept.Titulo</td>
                    <td>@concept.Subtitulo</td>
                    <td>@concept.Descricao</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group pt-3">
        <a asp-controller="Management" asp-action="Index" class="btn btn-warning">Voltar</a>
        <a asp-controller="ConceptDetails" asp-action="Update" class="btn btn-primary">Atualizar Descrição</a>
        <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary bg-green">Home</a>
    </div>

</section>