@model IEnumerable<DelfosMachine.Models.DadosCadastrais>

@{
    ViewData["Title"] = "Consultar Dados Cadastrais";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cliente.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente.Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente.Genero)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente.DataNasc)</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Cliente.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Cliente.Telefone)</td>
            <td>@Html.DisplayFor(modelItem => item.Cliente.Genero)</td>
            <td>@Html.DisplayFor(modelItem => item.Cliente.DataNasc)</td>

            <td>
                <a asp-action="Atualizar" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
